.bg-img { 
    background-image: url("../images/rootsbackground.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;


}

.create {
    z-index: 10;
}

.profileimg {
    float: right;
}

.columns {
    margin: 0px;
    padding: 0px;
}

hr {
    border: 1px solid black;
    align-content: center;
    width: 75%;
}

.highlightimg {
    border: 1px solid black;
}

.customShow {
    display: block;
}

.customHide {
    display: none;
}

.gardenContainer {
    width: 100%;
    min-height: 250px;

}

#createBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }