.bg-img { 
    background-image: url("../images/rootsbackground.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;


}

.create {
    z-index: 10;
}

.profileimg {
    float: right;
}

.columns {
    margin: 0px;
    padding: 0px;
}

hr {
    border: 1px solid black;
    align-content: center;
    width: 75%;
}

.highlightimg {
    border: 1px solid black;
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

.gardenContainer {
    width: 100%;
    min-height: 250px;

}

#createBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

  .bio {
      max-width: 425px;
  }

  .full {
      position: relative;
      min-width: 100%;
  }

  #mainContainer {
      margin: 0 auto;
      width: 75%;
  }

  .block {
      display: block;
  }

  .comment {
    display: block;
    position: absolute;
    bottom: 3px;
    right: 13px;
  }

  #commentTag {
    display: block;
    position: absolute;
    bottom: 0;
    right: 25px;
  }
  
  #mission, #mission2 {
      font-family: 'Abel', sans-serif;
      font-family: 'Kanit', sans-serif;
  }